/* trying to wrap my head around where divs go and why you need to individually div stuff. 
Also why thats needed for css too*/
body{
	margin: 0; 
	font-family: Georgia, times new roman;
	line-height: 1.5em;
}

.container{
	background-color: #c5c6c7;
}

.container-1{
	background-color: #66fcf1;
}

.container-1 a{
	position: fixed;
}

a:hover {
	color: yellow;
}

a{
	color: red;
}

.main-header{
	position: sticky;
	top: 0;
	text-align: center;
	background-color: #1f2833;
	color: #66fcf1;
	padding:25px;
	line-height: .5em;
}

.main-header h1{
	letter-spacing: 2px;
	font-style: italic;
	font-size: 54px;
}

.main-header h4{
	color: #c5c6c7;
	font-style: italic;
}

.all3{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-column-gap: .5em;
	text-align: center;
	padding-top: 25px;
}

.all3 main:nth-child(odd){
	background-color: #45a29e;
}

.all3 main:nth-child(even){
	background-color: #66fcf1;
}

.all3 li{
	text-align: left;
}

.main-1, .main-2, .main-3{  /*delete if doesnt work ---- WORKED!*/
	display: grid;			/*along with changing the sections to divs and making full section .wrapper*/
	grid-template-rows:repeat(1, 1fr);
}

.main-2 img{	/*find a better way*/
	padding: 35px;
}

.main-3 img{	/*find a better way*/
	padding: 65px;
}

.article-1, .article-2, .article-3 p{
	font-style: italic;
	padding:0 15px;
}

.sectionA h3, .sectionB h3{
	text-decoration:underline;
}

.sectionB ul{
	list-style-type: circle;
}

.extras-1, .extras-2, .extras-3{
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	padding:50px;
}

.extras-1 div, .extras-2 div, .extras-3 div{
	padding:25px;
}

.pic{
	 align-self: center;
}

.pic p{
	text-align: center;
	color: black;
	font-size: 18px;
	font-style: italic;
}

/*to make the column (or row) (pic2) span over 3 columns (or row)
.pic2{
	grid-column: 1/3;
	grid-row: 1/3;
}
*/

.main-footer{
	text-align: center;
	color: #1f2833;
	font-weight: bolder;
	padding: 5px;
	background-color: #c5c6c7;
}

.button{
	background-color: #66fcf1;
}

@media screen and (max-width: 600px) {
  .container {
    background-color: olive;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
  }
}


/*.extras-3 img{
	justify-content: center;
} WILL NOT WORK*/
